<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <!-- Define servlet for the Random Message application -->

	<!--*******************************************************************-->
	<!-- Servlet to get Defects from the "defecttracker" database          -->
	<!--*******************************************************************-->
    <servlet>
        <servlet-name>DefectController</servlet-name>
        <servlet-class>DefectController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DefectController</servlet-name>
        <url-pattern>/DefectController</url-pattern>
    </servlet-mapping>

	<!--*******************************************************************-->
	<!-- Servlet to get the select Defect to edit from the "defecttracker" -->
    <!-- database                                                          -->
	<!--*******************************************************************-->
    <servlet>
        <servlet-name>EditDefectDatabaseServlet</servlet-name>
        <servlet-class>EditDefectDatabaseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditDefectDatabaseServlet</servlet-name>
        <url-pattern>/EditDefectDatabaseServlet</url-pattern>
    </servlet-mapping>

	<!--*******************************************************************-->
	<!-- Servlet to update a select defect in the "defecttracker" database -->
	<!--*******************************************************************-->
    <servlet>
        <servlet-name>UpdateDatabaseServlet</servlet-name>
        <servlet-class>UpdateDatabaseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateDatabaseServlet</servlet-name>
        <url-pattern>/UpdateDatabaseServlet</url-pattern>
    </servlet-mapping>

	<!--*******************************************************************-->
	<!-- Servlet to send email to a user                                   -->
	<!--*******************************************************************-->
	<servlet>
		<servlet-name>EmailServlet</servlet-name>
		<servlet-class>EmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailServlet</servlet-name>
		<url-pattern>/EmailServlet</url-pattern>
	</servlet-mapping>

	<!--*******************************************************************-->
	<!-- Servlet to add defect to database                                 -->
	<!--*******************************************************************-->
	<servlet>
        <servlet-name>AddDefectDatabaseServlet</servlet-name>
        <servlet-class>AddDefectDatabaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDefectDatabaseServlet</servlet-name>
        <url-pattern>/AddDefectDatabaseServlet</url-pattern>
    </servlet-mapping>
	
	<resource-ref>
		<description>My description... </description>
		<res-ref-name>mail/Session</res-ref-name>
		<res-type>javax.mail.Session</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>
